@media screen and (max-width: 2000px){
    .fa{display: none;
    }
    .zzz{display: none;}
}
@media screen and (max-width: 1369px){ 
    .logo{margin-top: 30px;
        margin-left: 30px;}
        .fa{
            display: none;
        }
}

@media screen and (max-width: 1152px){
    .logo{
        width: 180px;
        height:80px;
        
        
       margin-bottom: 40px;
    }
    
    .div_1{
        height:120px;
    
    }
    .div_1 li{
   
        width: 70px;
        height: 30px;
        background-color: white;
        font-size: 14px;
        margin-right: 20px;
        margin-bottom: 20px;
        text-align: center;
        line-height: 30px;
        border-radius: 10px;
        font-weight: bold;
     }
     .zzz{display: none;}
     
}
@media screen and (max-width: 1200px){
    .img_1 {margin-top: 180px;
        margin-left: 120px
    }
    .p{width: 45%;}
    .p-2{margin-left: 300px;}
    .p-4{margin-left: 0;margin-bottom: 20px;}
    .add {width:50%;}
    .Qa-1{width:30%;}
    .Qa-2{width:30%;}
    .Qa-3{width:30%;}
    .img_3 {margin-left: 120px;}
    .QA-1{text-align: left;
        margin-left: 420px;
    }
    
}


@media screen and (max-width: 1000px){
    .p{width: 50%;}
    .add {width:45%;}
    .img_1 {margin-left: 50px;}
    .p-2{margin-top: 120px;margin-left: 230px;}
    .img_3{margin-top: 120px;margin-left: 50px;}
    .p-4{margin-left: 20px;margin-bottom: 100px;}
    
}
@media screen and (max-width: 900px){
 .res{display: none;} 
 .zzz{display: block;}
 .img_1{margin-top: 0 ;margin: 0 auto;} 
 .img_2{margin-top: 0 ;margin: 0 auto;} 
 .img_3{margin-top: 0 ;margin: 0 auto;}
 .x{display: block;height:0;} 
 .QA-1-1 {width:1200px;margin: 0 auto;}
 .Qa-1{width:20%;margin-top: 0;padding: 0;
margin-left: 40px;}
    .Qa-2{width:20%;float: left;
        overflow: hidden;
        padding: 0;height:360px;
    margin: 0 10px;}
    .Qa-3{width:20%;padding: 0;margin-top: 0;height:360px;}
    .QA-1{
        margin-left:336px;
        margin-bottom: 20px;
    }
    .Qa-1>li{
        font-size: 20px;
        line-height: 30px;
    }
    .Qa-2>li{font-size: 20px;
        line-height: 30px;
    }
    .Qa-3>li{font-size: 20px;
        line-height: 30px;}
    }

@media screen and (max-width: 978px){
    .div_6{
        display: block;
       
        
        
        
        
        
        
    }
    .div_6 p{
        margin-left: 30px;
        color:white;
        width:300px;
        line-height: 30px;
        margin-top: 30px;
        margin-bottom: 20px;
        float: left;
        /* border-bottom: 2px solid white; */
        padding: 10px;
        

    }
    .div_6 ul{
        width: 360px;
        height:80px;
        margin-top: 0;
        line-height: 30px;
        overflow: hidden;
        clear: both;
        margin-left: 10px;
        margin-bottom: 0;
        float: left;
      }
      .div_6 ul li{
    
        color:white;
        background-color: black;
        width:300px;
        
        line-height: 15px;
        margin-left: 20px;
        
        
    }.map{
        width:250px;
        
        
      }
      .icon{
        display: inline-block;
        width:80px;
        margin-bottom: 80px;
        
        
        
      }
      
      .important{
       height:40px;
       padding-top: 20px;
       border: 1px soloid black;
    }
}
@media screen and (max-width: 930px){

}

@media screen and (max-width: 831px){
    .QA-1-1 {width:800px;}
   .Qa-1{width:30%;margin-left: 0;line-height: 30px;}
   .Qa-2{width:25%;height:290px;}
   .Qa-3{width:30%;height:290px;}
    .Qa-1>li{
    font-size: 16px;
    line-height: 30px;
}
    .Qa-2>li{font-size: 16px;
    line-height: 20px;
}
    .Qa-3>li{font-size: 16px;
    line-height: 20px;}
}
    hr{
        margin-top: 20px;
       border: 1px solid black;
    }
.fa{
    display: block;
    margin-top: 40px;
}
.div_1> ul{
    width:auto;
   display: block;
    background-color:#2B944F;
    align-items: end;
    justify-content: center;
    position: absolute;
    right:0;
    top:120px;
    z-index: 1;
    width:30%;
    display: none;  
}
.div_1 li{
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid black;
    background-color:#2B944F;
    border-radius:0;
 }
.div_1 .fa:hover~ul{
    display: block;
 }
 
 @media screen and (max-width: 813px){
    .Qa-1{width:40%;margin-left: 260px;line-height: 30px;}
    .Qa-2{clear: left;margin-left: 60px;width:25%;margin-top: 10px;}
    .Qa-3{float: right;;width:40%;margin-right: 60px;margin-top: 10px;}
 }
@media screen and (max-width:781px){
    .logo{
        width: 180px;
        height:80px;
        
        margin-top: 20px;
        margin-left: 20px;
       margin-bottom: 40px;
    }
    .div_1{
        width:100%;
         height:120px; 
        display:flex;
    }
hr{
        margin-top: 20px;
       border: 1px solid black;
    }
.fa{
    display: block;
    margin-top: 40px;
}
.div_4 .img_4{width: 50%;
    height:160px;
    
    margin-left:20px ;
}
.img_5{
    width: 50%;
    height:160px;
}
.div_5{height:500px;}
.div_5 img{
    margin-top: 40px;
    width:400px;
    height:280px;
}
.div_6{
    height:260px;   
}
.div_6 ul{padding-top: 15px;width:300px}
.div_6 p{display: none;}
.map{
    margin: 15px;
    width:200px;
    height:200px;
    float: left;
    margin-right: 20px;
    overflow: hidden;
}
.icon{
    
    clear: both;
    
    margin-top: 0;
}


}
@media screen and (max-width:752px){
    .QA-1 {margin-left: 220px;}
    .QA-1-1 {width:600px;}
    .Qa-1{width:60%;margin-left: 110px;line-height: 30px;}
    .Qa-2{clear: left;margin-left: 110px;width:30%;margin-top: 10px;}
    .Qa-3{float: right;;width:59%;margin-right: 130px;margin-top: 10px;} 
}
@media screen and (max-width:633px){
    .div_4 .img_4{width: 50%;
        margin-left: 20px;
        height:160px;    
    }
    .div_6{
        height:260px;   
    }
    .div_6 ul{padding-top: 15px;width:300px}
    .div_6 p{display: none;}
    .map{
        margin: 15px;
        width:200px;
        height:100px;
        float: left;
        margin-right: 120px;
        overflow: hidden;
    }
    .icon{
        
        clear: both;
        
        margin-top: 0;
    }
    
}
@media screen and (max-width:752px){
    .QA-1 {margin-left: 180px;}
    .QA-1-1 {width:500px;}
    .Qa-1{width:70%;margin-left: 85px;line-height: 30px;}
    .Qa-2{clear: left;margin-left: 79px;width:30%;margin-top: 10px;}
    .Qa-3{float: right;;width:72%;margin-right: 62px;margin-top: 10px;} 
}
@media screen and (max-width:453px){
    .QA-1-1 {width:400px;}
    .QA-1 {margin-left: 114px;}
    .Qa-1{width:80%;margin-left: 38px;line-height: 30px;}
    .Qa-2{clear: left;margin-left: 36px;width:27%;margin-top: 10px;}
    .Qa-3{float: right;;width:80%;margin-right: 41px;margin-top: 10px;} 
}
@media screen and (max-width: 400px){ 
    .div_6 ul{
        width:250px;
    }
    .div_6 ul li {
        
        font-size: 12px;
        margin-left: 0;
    }
    .icon{width:40px;}
    i{font-size: 30px;}
}