body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.div_1 {
    width: auto;
    height: 170px;
    background-color: #2B944F;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;



}

.logo{
    width: 250px;
    height:100px;
    
    margin-top: 40px;
    margin-left: 80px;
   margin-bottom: 40px;
   
   
   
    
}
.div_1>ul {
    width:auto;
    display: flex;
    align-items: end;
    justify-content: center;

}

.div_1 li {

    width: 100px;
    height: 40px;
    background-color: white;

    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    font-weight: bold;


}

.div_1 li a {
    text-decoration: none;
    color: black;
}

.div_1 li:nth-child(1):hover {
    box-shadow: 4px 4px 4px #5c5a5a;
    background-color: #2B944F;
}

.div_1 li:nth-child(2):hover {
    box-shadow: 4px 4px 4px #5c5a5a;
    background-color: #2B944F;
}

.div_1 li:nth-child(3):hover {
    box-shadow: 4px 4px 4px #5c5a5a;
    background-color: #2B944F;
}

.div_1 li:nth-child(4):hover {
    box-shadow: 4px 4px 4px #5c5a5a;
    background-color: #2B944F;
}

.div_1 li:nth-child(5):hover {
    box-shadow: 4px 4px 4px #5c5a5a;
    background-color: #2B944F;
}

.div_1 li:nth-child(6):hover {
    box-shadow: 4px 4px 4px #5c5a5a;
    background-color: #2B944F;
}

.div_1 li:nth-child(7):hover {
    box-shadow: 4px 4px 4px #5c5a5a;
    background-color: #2B944F;
}

hr {
    margin-top: 40px;
    border: 1px solid black;
}

/* .body {
    width: 1400px;
} */

.wrapper {
    width: 1200px;
    margin: 0 auto;

}

.h1_1 {
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 40px;
    color: #2B944F;
    font-weight: bold;

}

.p_1 {
    font-size: 24px;
    line-height: 40px;


}



.img_1 {
    width:1200px;
    display: flex;
    margin-top: 60px;
    
}
.introduce-1{display: block;}
.qq{color:green;font-size: 30px;}
.cc{color:green;font-size: 16px;}
.aa{margin-left: 10px;width:300px; height:"350px"; }
.img_1-1 {
    margin:0;
    display: block;
    width: 500px;
    height: 350px;
    
    border: 3px solid #2B944F;
    padding: 20px;
}

.img_1-2 {
    display: block;
    width: 600px;
    height: 400px;

    margin-bottom: 60px;
}

.img_1-3 {
    display: block;
    height: 400px;
    width: 600px;
}

.introduce {
    line-height: 30px;
    font-size: 24px;
    
    width: 440px;
    margin-top: 50px;
}

.introduce-1 {
    margin-left: 20px;
    height:200px;
    line-height: 20px;
}

.introduce-1-1 {
    font-size: 34px;
    font-weight: bold;
    
}
    


.introduce-1-1-1 {
    display: block;
    width: 300px;
    height: 30px;
    background-color: #2B944F;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    border-radius: 20px;
    margin-top: 40px;
    color: white;
   
}

.introduce-2 {


    margin-top: 130px;
}












.div_6{
    display: flex;
    width:100%;
    height:240px;
    
    background-color: black;
    margin-top: 40px ;
    
    
    
}
.div_6 p{
    margin-left: 60px;
    color:white;
    width:400px;
    line-height: 35px;
    margin-top: 60px;
    margin-bottom: 20px;
    
    

    
    

}
.div_6 ul{
  width:400px;
  height:160px;
  margin-top:65px ;
  
  line-height: 32px;
  margin-bottom: 160px;

  
  

}
.div_6 ul li{
    
    color:white;
    background-color: black;
    width:300px;
    height:30px;
    line-height: 20px;
    margin-left: 20px;
    
}

.div_6 ul li:nth-child(3){
    padding-bottom:10px ;
}
.icon{
    width:100px;
    text-align: center;
    
}
i{
    font-size: 50px;
color: white;
margin: 15px ;
}

.important{
    background-color: black;
    color:rgba(249, 247, 247, 0.7);
    margin: 0 auto;
    width:100%;
    text-align: center;
    font-size: 20px;
}